.screen-Screen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Context for absolute positioning */
    cursor: pointer;

    .image {
        position: absolute;
        /* Stack images on top of each other */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        /* Maintain aspect ratio within container */
    }
}