.mouse-Mouse {
    position: absolute;
    z-index: 1000;
    touch-action: none;
    pointer-events: auto;


    width: 32px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);


    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s, background-color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
        width: 140px;
        height: 140px;
        background-color: rgba(255, 255, 255, 0.1);
        border: 2px solid rgba(255, 255, 255, 0.5);
    }


    .center-close {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 50%;
    }
}